<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Регистрация</title>

    <link rel="stylesheet" href="../static/css/base.css" />
    <link rel="stylesheet" href="../static/css/registration.css" />
  </head>
  <body>
    <main class="registration-container">
      <h1>Регистрация</h1>
      <div class="registration-card">
        <form class="registration-form">
          <label for="name">Имя пользователя</label>
          <input class="user-name" type="text" placeholder="Введите имя пользователя"/>
          <label for="email">Почта</label>
          <input class="user-email" type="email" placeholder="Введите почту"/>
          <label for="password">Пароль</label>
          <input class="user-password" type="password" placeholder="Введите пароль"/>
          <label for="password-confirm">Подтверждение пароля</label>
          <input class="user-password-confirm" type="password" placeholder="Подтвердите пароль"/>
          <button class="registration-button base-button">Продолжить</button>
        </form>
        <span
          >Уже есть аккаунт? <b><a class="login-link" href="login.html">Войти</a></b></span>
      </div>
    </main>
  </body>
</html>
